<% provide(:title, 'Home') %>
<div id="wrapper">
   <div id="col-one">
   </div>
   <div id="col-two">
   </div>
   <div id="col-three">
     <img src="/assets/ko-opheader.png" alt="">
     <div id="footer">
         <p id="legal">Copyright &copy; 2012</p>
     </div>
     <!-- #footer -->

     <div id="project-container">
        <h2>Projects</h2>
        <% @projects.each do |project| %>
        <div id="project">
            <div class="title"> <%= project.name %> </div>
            <div class="p-image"> <%= image_tag(project.thumbnail.url, :size=>"100x100") %> </div>
        </div>
        <!-- Project -->
        <% end %>
     </div>
     <!-- Project Container -->

     <div id="mailing-list">
        <h2>Mailing List</h2>
        <%= render 'mailing_list_form' %>
     </div>
     <!-- Mailing List -->
   </div>
 </div>
 <!-- wrapper -->
 

