<% provide(:title, 'Home') %>
<div id="wrapper">
   <div id="col-one">
   </div>
   <div id="col-two">
   </div>
   <div id="col-three">
     <div id="menu">
         <div class="item">Contact | <a id="inline" href="#mailing-list">Mailing List</a></div>
     </div>
     <!-- #menu -->

     <div id="about">
        <img class="logo" src="/assets/ko-opheader.png" alt="">
        <p class="text">KO-OP Mode is a recently formed studio in Montreal, focussed on collaboration and game making. We're dedicated to forming a "record label" of high quality games, closely working with partners looking to establish themselves as passionate, experimental and engaging game makers.</p>
     </div>
     <!-- #about -->

     <div id="footer">
         <p id="legal">Copyright &copy; 2012</p>
     </div>
     <!-- #footer -->

     <div id="project-container">
        <% @projects.each do |project| %>
        <div id="project">
            <div class="p-image"> <%= image_tag(project.thumbnail.url, :size=>"160x110") %> </div>
            <div class="title"> <%= project.name %> </div>
        </div>
        <!-- Project -->
        <% end %>
     </div>
     <!-- Project Container -->

     <div style="display:none">
         <div id="mailing-list">
            <h2>Mailing List</h2>
            <%= render 'mailing_list_form' %>
         </div>
         <!-- #mailing-list -->
     </div>
   </div>
 </div>
 <!-- wrapper -->
 

