
<div id="wrapper">
  <div id="col-one">
  </div>
  <div id="col-two">
  </div>
  <div id="col-three">
    <img src="/assets/ko-opheader.jpg" alt="">
  </div>
</div>
<!-- wrapper -->

<div id="footer">
    <p id="legal">Copyright &copy; 2012</p>
</div>
<!-- #footer -->

