<% provide(:title, 'Home') %>
<div id="wrapper">
   <div id="col-one">
   </div>
   <div id="col-two">
   </div>
   <div id="col-three">
     <img src="/assets/ko-opheader.png" alt="">
     <div id="footer">
         <p id="legal">Copyright &copy; 2012</p>
     </div>
     <!-- #footer -->

     <!--<div id="project-container">
        <h2>Projects</h2>
     </div>-->
   </div>
 </div>
 <!-- wrapper -->
 

