<footer class="footer">
    <div class="row" style="padding-top: 26px;">
        <div class="span4">
            <p><h3>Follow us on Twitter</h3></p>
            <p><a href="http://twitter.com/seemo">Seemo</a></p>
            <p><a href="http://twitter.com/bzgeb">BZgeb</a></p>
            <p><a href="http://twitter.com/koopmode">KO-OP</a></p>
            <p><h3>Like us on Facebook</h3></p>
            <a href="http://www.facebook.com/koopmode"><%= image_tag("/assets/facebook.png", :size=>"24x24") %></a></p>
        </div>
        <div class="span4">
            <p><h3>Check out our friends</h3></p>
            <p><a href="http://mrgs.ca/">MRGS</a></p>
            <p><a href="http://tag.hexagram.ca">TAG</a></p>
            <p><a href="http://www.sauropodstudio.com/">Sauropod Studio</a></p>
            <p><a href="http://www.joachimdespland.com">Joachim Despland</a></p>
        </div>

        <div class="span4">
            <form class="form-inline">
                <input type="text" placeholder="Mailing List">
                <button type="submit" class="subscribe">Subscribe</button>
            </form>
            <p>Copyright &copy; 2012 KO-OP Mode Inc.</p>
        </div>
    </div>
</footer>

