<header>
    <div class="row" style="padding-top:52px; padding-bottom:52px;">
        <center>
            <div class="span12">
                <%= image_tag("/assets/ko-opheader.png",  :class=>"logo") %>
            </div>
            <div class="span2 offset5">
                <p><a href="http://www.facebook.com/koopmode"><%= image_tag("/assets/facebook.png", :size=>"24x24") %></a>
                <a href="http://twitter.com/koopmode"><%= image_tag("/assets/twitter.png", :size=>"24x24") %></a></p>
            </div>
        </center>
    </div>
</header>

