/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require fancybox
 *= require bootstrap.min
 *= require bootstrap-responsive.min
*/

$koopblue: #3ACAEF;

header {
    margin-bottom: 24px;
}

.subscribe {
    border-radius: 4px 4px 0 0;
    background-color: $koopblue;
    border: none;
    color: white;
}

.title {
    background-color: $koopblue;
    color: #FFF;
    width: 200px;
    text-align: center;
    margin-top: 12px;
    margin-bottom: 6px;
}

.title a {
    color: #FFF;
}

.footer {
    background-color: $koopblue;
    color: #FFF;
    text-align: center;
}

.footer a {
    color: #fff;
}

header {
    margin-bottom: 24px;
}

.blog {
    margin-top: 26px;
    margin-bottom: 26px;
}

.post {
    margin-bottom: 26px;
}

.subscribe {
    border-radius: 4px 4px 0 0;
    background-color: $koopblue;
    border: none;
    color: white;
}

