// Place all the styles related to the static_pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.center {
    float: none;
    margin: 0 auto;
    text-align: center;
}

.bottom-spacer {
    padding-bottom: 90px;
}
