* {
	margin: 0;
	padding: 0;
}

body {
	background: #FFFFFF;
	font: normal small "Trebuchet MS", Arial, Helvetica, sans-serif;
}

h1, h2, h3 {
	font-family: Georgia, "Times New Roman", Times, serif;
}

h1 {
}

h2 {
}

h3 {
	margin-bottom: 1em;
	text-transform: uppercase;
	letter-spacing: 1px;
	font-size: x-small;
}

p, blockquote, ul, ol {
	margin-bottom: 2em;
	line-height: 1.6em;
}

p {
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    font-size: 16px;
}

blockquote {
	margin-left: 2em;
	margin-right: 2em;
	padding: 1em 1em 0 1em;
	text-align: center;
	font-style: italic;
}

ul {
	list-style: none;
}

ul li {
}

ol {
	list-style-position: inside;
}

ol li {
}

a {
	color: #000;
}

a:visited {
	color: #000;
}

a:hover {
    background-color: #FFF;
    color: #999;
}

img {
	border: none;
}

/* Wrapper */
#wrapper {
	clear: both;
	width: 700px;
	margin: 0 auto;
}

/* Column Three */
#col-three {
	float: left;	
	width: 690px;
    margin-left: auto;
    margin-right: auto;
	padding-top: 10px;
}

/* Footer */
#footer {
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
	clear: both;
    background: #45A7CC;
    width: 100%;
    height: 40px;
}

#footer p {
	margin: 0 auto;
	font-size: small;
}

#footer .friends {
    text-align: left;
    margin-left: 15px;
    margin-right: auto;
    margin-top: 5px;
    margin-bottom: auto;
    width: 80%;
    height: 85%;
    float: left;
}

#footer .copy {
    text-align: right;
    color: #000;
    font-size: x-small;
    margin-left: auto;
    margin-right: 5px;
    margin-top: 5px;
    float: right;
    width: 17%;
}

/* Project */
#project-division {
    margin-right: auto;
    margin-left: auto;
    margin-top: auto;
    margin-bottom: auto;
    border-top: 1px solid grey;
    width: 90%;
    height: 10px;
    clear: both;
}

#project-container {
    width: 100%;
    margin: 0px auto;
    clear: both;
}

#project-container h2 {
    font-family: Georgia, Helvetica, Arial, "Lucida Grande", sans-serif;
    margin-bottom: 50px;
    font-size: 32px;
}

#project {
    width: 340px;
    float:left;
    margin-bottom: 75px;
}

#project .title {
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    font-size: 22px;
    text-align: center;
    background-color: black;
    color: #FFF;
    width: 170px;
    height: 28px;
    position: absolute;
    margin-left: 140px;
    margin-top: -20px;
}

#project .image {
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}

/* Mailing list */
#mailing-list {
    clear:both;
}

#mailing-list h2 {
    margin-bottom: 5px;
}

#mailing-list .label {
    width: 75px;
    float: left;
}

#mailing-list .textfield {
    width: 125px;
}

/* About */
#about {
    margin-bottom: 100px;
    height: 200px;
    float: left;
}

#about .logo {
    float: left;
    width: 30%;
    margin-right: 40px;
}

#about .text {
    width: 40%;
    float: left;
    margin-top: 30px;
}

/* Menu */
#menu {
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    font-size: x-large;
    text-align: left;
    float:left;
    width: 20%;
    margin-top: 100px;
    margin-left: 29px;
}

