* {
	margin: 0;
	padding: 0;
}

body {
	background: #FFFFFF;
	font: normal small "Trebuchet MS", Arial, Helvetica, sans-serif;
}

h1, h2, h3 {
	font-family: Georgia, "Times New Roman", Times, serif;
}

h1 {
}

h2 {
}

h3 {
	margin-bottom: 1em;
	text-transform: uppercase;
	letter-spacing: 1px;
	font-size: x-small;
}

p, blockquote, ul, ol {
	margin-bottom: 2em;
	line-height: 1.6em;
}

p {
}

blockquote {
	margin-left: 2em;
	margin-right: 2em;
	padding: 1em 1em 0 1em;
	text-align: center;
	font-style: italic;
}

ul {
	list-style: none;
}

ul li {
}

ol {
	list-style-position: inside;
}

ol li {
}

a {
	color: #666666;
}

img {
	border: none;
}

/* Wrapper */
#wrapper {
	clear: both;
	width: 700px;
	margin: 0 auto;
}

/* Column Three */
#col-three {
	float: left;	
	width: 690px;
    margin-left: auto;
    margin-right: auto;
	padding-top: 10px;
}

/* Footer */
#footer {
	clear: both;
}

#footer p {
	margin: 0 auto;
	font-size: x-small;
}

/* Project */
#project-division {
    margin-right: auto;
    margin-left: auto;
    margin-top: 40px;
    margin-bottom: 40px;
    border-top: 1px solid grey;
    width: 90%;
}

#project-container {
    width: 100%;
    margin: 0px auto;
}

#project {
    width: 230px;
    float:left;
}

#project .title {
    font-size: normal;
    text-align: right;
    margin-left: auto;
    margin-right: auto;
    width: 200px;
}

#project .p-image {
    margin-left: auto;
    margin-right: auto;
    width: 200px;
    height: 130px;
}

/* Mailing list */
#mailing-list {
    clear:both;
}

#mailing-list h2 {
    margin-bottom: 5px;
}

#mailing-list .label {
    width: 75px;
    float: left;
}

#mailing-list .textfield {
    width: 125px;
}

/* Navigation */
#navigation {
    
}

#navigation .item {

}

/* About */
#about {

}

#about .logo {
    float: left;
    width: 30%;
    margin-right: 40px;
}

#about .text {
    width: 60%;
    float: left;
    margin-top: 40px;
}

/* Menu */
#menu {
    text-align: right;
    margin-right: 60px;
}

